html {
    font-size: 62.5%;
}

body {
    font-family: $baseFont;
    font-size: $baseFontSize;
    color: $primaryTextColor;
    letter-spacing: 0.2px;
}

h1, h3, h4 {
    font-family: $headingFont;
}

h1 {
    color: $primaryTextColor;
    
}

h3 {
    color: $secondaryTextColor;
}


h1, h2, h3, h4 {
    font-weight: normal;
}

h1 {
    font-size: $baseFontSize;
}

h2 {
    font-size: 6.88rem;
}

h3 {
    font-size: 4.2rem;
}

.moreText p {
    color: $tertiaryColor;
}

.bobbyBella h3,
.marcoText h3 {
    color: $primaryTextColor;
}

a {
    text-decoration: none;
}