// fonts
$headingFont: 'Offside', cursive;
$baseFont: 'Barlow', sans-serif;

$baseFontSize: 2rem;

// colors
$primaryColor: #213C28;
$secondaryColor: #D6F1E4;

$primaryTextColor: #FFF;
$secondaryTextColor: #116500;
$tertiaryTextColor: #2C2D2C;